/* Estilos para principal_view.php */
.mg-top{
	margin-top: 30px;
}
.mg-last{
	margin-bottom: 30px !important;
}
.mg-left-30{
	margin-left:130px !important;
}
.mg-left14{
	margin-left:14px !important;
}
.mg-right14{
	margin-right: 14px !important;
}
.blue{
	color: #1D3961 !important;
}
.justify{text-align: justify !important;}
.fl-left{ float:left;}
.fl-right{ float:right;}
.banner .wrapp .slide{
	float: left;
	width: 964px;
	height: 330px;
	position: relative;
	z-index: 99;
	background: url(../../images/head-pics/contacto.jpg);
}
.banner .wrapp .slide #layer{
	

	background: url(../../images/Bg_quotes.png);
	height: 100px;
    margin: 170px 105px;
    position: absolute;
    width: 860px;
    z-index: 400;
}
.banner .wrapp .slide #layer h1{
	color: #1D3961;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0 0 30px;
    width: 550px;
}
.banner .wrapp .slide #layer img#logo-layer{
	float: right;
	display: block;
	width:245px;
	height: 100px;
}
.banner .wrapp .slide form#left-content{
	float: left;
	position: relative;
	width:545px;
	height: auto;
	list-style: none;
	margin: 20px 0 0 20px;
}
form#left-content h3{
	font-family: sans-serif;
	font-size: 24px;
	color: #FFF;
	width: 100%;
	display: block;
	padding-left: 10px;
	margin: 0px 0 10px 0;
	border-left :2px solid #fff;
}
form#left-content div.input-box{
	float: left;
}
form#left-content div.input-box input.input-ciceso{
	width:220px;
	height: 26px;
	border:1px solid #ccc;
	color:#000;
	display:inline-block;
	padding-left: 10px;
	margin:0px 0 10px 0 ;
}
form#left-content div.input-box input.option-one{
	width:285px;
}
form#left-content div.input-box input.option-two{
	width:50px;
	height: 26px;
}
form#left-content div.input-box select#titulo1{
	width:60px;
	height: 26px;
	border:1px solid #ccc;
	color:#000;
	display:inline-block;
	margin:0px 0 10px 0 ;
}
form#left-content textarea.textarea-ciceso{
	font-family: sans-serif;
	width:220px;
	height: 140px;
	border:1px solid #ccc;
	color:#000;
	float: right;
	max-height: 140px;
	min-height: 140px;
	max-width: 220px;
	min-width: 220px;
	margin:0px 0 10px 0;
	padding-left: 10px;
}
form#left-content div.input-box input.input-ciceso:focus, form#left-content textarea.textarea-ciceso:focus{
	color: #1D3961;
}
form#left-content input.send-ciceso{
	border: none;
	margin: 10px 0 0 0;
	width:80px;
	background: url(../../images/boton_enviar.png);
	background-position: 0 0;
	height: 26px;
	float: right;
	cursor: pointer;
}
form#left-content input.send-ciceso:hover{
	background-position: 0 -26px;
}


.wrapp h2{
	border-left: 3px solid #666666;
    color: #1D3961;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    float: left;
    
}
.wrapp div.form-contact{
	border-top: 1px dotted #aaa; 
	width: 100%;
    float: left;
    margin: 10px 0 0 0;

}
.wrapp div.form-contact div.left-content{
	float: left;
	position: relative;
	width:450px;
	height: 240px;
	list-style: none;
	margin: 20px 0 0 0;
}
.wrapp div#right-content{
	float: right;
	position: relative;
	width:470px;
	height: auto;
	border-left: 1px dotted #aaa; 
	margin: 20px 0 0;
}
.wrapp div#right-content h4{
    color: #1D3961;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    height: 20px;
    width: 100%;
}
.wrapp div#right-content p{
	float: left;
	position: relative;
	width:100%;
	height: auto;
	margin: 10px 0 0 5px;
	font-size: 16px;
	color: #1D3961 !important;
	font-family: sans-serif;
}
.wrapp div#right-content div#info-left{
	width:49%;
	float: left;
	height: auto;
	margin: 20px 0 0 5px;
	font-family: sans-serif;
	font-size: 14px;
	color:#666;
}
.wrapp div#right-content div#info-right{
	width:49%;
	float: right;
	height: auto;
	margin: 20px 0 0 0px;
	font-family: sans-serif;
	font-size: 14px;
	color:#666;
}