/* Estilos para principal_view.php */
.mg-top{
	margin-top: 60px;
}
.mg-left-30{
	margin-left:130px !important;
}
.mg-left14{
	margin-left:14px !important;
}
.mg-right14{
	margin-right: 14px !important;
}
.fl-left{ float:left;}
.fl-right{ float:right;}
.banner .wrapp .slide{
	float: left;
	width: 964px;
	height: 330px;
	position: relative;
	z-index: 99;
}
.banner .wrapp .slide #layer{
	

	background: url(../../images/Bg_quotes.png);
	height: 100px;
    margin: -126px 105px;
    position: absolute;
    width: 860px;
    z-index: 400;
}
.banner .wrapp .slide #layer h1{
	color: #1D3961;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0 0 30px;
    width: 550px;
}
.banner .wrapp .slide #layer img#logo-layer{
	float: right;
	display: block;
	width:245px;
	height: 100px;
}
.wrapp .movie{
	width: 456px;
	height: 290px;
	float: left;
	position: relative;
}
.wrapp #rh{
	float: right;
	position: relative;
	width: 476px;
	height: 290px;
	margin:0 0 0 20px;
	background: url(../../images/bg_enviar_cv.jpg);
}
.wrapp #rh img{
	width:476px;
	height: 150px;
	float: left;
}
.wrapp #rh h2{
	float:left;
	font-family: sans-serif;
	font-size: 18px;
	color: #1D3961;
	padding: 0;
	display: block;
	margin: 10px 0 10px 10px ;
	font-weight: bold;
}
.wrapp #rh p{
	float:left;
	font-family: sans-serif;
	font-size: 15px;
	color: #333;
	padding: 0;
	display: block;
	margin: 0px 0 10px 10px;
	text-align: justify;
}
.wrapp #rh a#send-cv{
	padding: 0;
	margin: 42% auto 0 auto;
	text-decoration: none;
	display: block;
	width:140px;
	height: 32px;
	background: url(../../images/boton_enviar_cv.png);
	background-position: 0 0px;
}
.wrapp #rh a#send-cv:hover{
	background-position: 0 -32px;
}
.wrapp #rh a#more-info{
	background-color: #CCCCCC;
    color: #333333;
    display: block;
    float: right;
    font-family: sans-serif;
    font-size: 14px;
    height: 16px;
    margin: 5px 0 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 68px;
}
.wrapp .content{
	margin: 30px 0 0 0;
	border-top: 1px dotted #666;
	float: left;
	height: auto;
	width:964px;
}
.wrapp .content .box-content{
	float: left;
	width: 476px;
	height: 280px;
	margin: 13px 0 0 0;
	border-top: 1px solid #BBBBBB;
	padding: 10px 0 10px 0;
} 
.wrapp .content .box-content p{
	color: #333333;
    font-family: sans-serif;
    font-size: 14px;
}
.wrapp .content .box-content h5{
	color: #1D3961;
    font-family: sans-serif;
    font-size: 18px;
    width:200px;
    text-align: left;
    margin: 10px 0 10px 0; 
}
.wrapp .content .box-content ul {
	margin: 0px 0 10px 0; 	
	list-style: none;
}
.wrapp .content .box-content ul li{
	color:#666;
	font-family: sans-serif;
    font-size: 15px;
}
.wrapp .content #testimonios{
	float: left;
	width: 476px;
	height: 350px;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #BBBBBB;
}
.wrapp .content #info-ciceso{
	float: right;
	width: 476px;
	height: 310px;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #BBBBBB;
}
.wrapp .content #info-ciceso h4,.wrapp .content #testimonios h4{
	float:left;
	font-family: sans-serif;
	font-size: 15px;
	color: #1D3961;
	padding: 0;
	display: block;
	font-weight: bold;
	width: 476px;
	height: 15px;
	padding: 5px 5px 5px 10px;
	border-left: 3px solid #666;
}
/*  TESTIMONIOS */
.wrapp .content .box-content .testimonios {
	overflow: hidden;
	height: 280px;
	float: left;
	width: 476px;
}
.wrapp .content .box-content .testimonios .grid {
	height: auto;
	position: relative; 
	width: 476px;
}
.wrapp .content .box-content #controles-testimonios{
	float: left;
	width: 476px;
	height: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: #808080;
}
.box-content #controles-testimonios a{ 
	float: right;
	width: 10px;
	height: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: #808080;
	text-decoration: none;

}
.box-content #controles-testimonios table{ 
	float: right;
	width: auto;
	height: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: #808080;

}
.wrapp .content .box-content .testimonios .grid .container{
	width:476px;
	height: 90px;
	float: left;
	margin: 2px 0 0 0 ;
}
.wrapp .content .box-content .testimonios .grid .container:hover{
	background-color: #F2F2F2;
}
.wrapp .content .box-content .testimonios .grid .container .container-lf{
	width:90px;
	height: 90px;
	float: left;
}
.grid .container .container-lf span{
	font-family: sans-serif;
    font-size: 12px;
    height: 20px;
    text-align: left;
    width: 90px;
    color: #808080;
    font-style: italic;
    float: left;
    text-align: center;
}
.wrapp .content .box-content .testimonios .grid .container .container-rt{
	width:375px;
	height: 90px;
	float: left;
}	
.grid .container .container-rt p.comment{
	float: left;
	background: url(../../images/Talk_Cloud.png) no-repeat;
	color: #333333;
    font-family: sans-serif;
    font-size: 11px;
    height: 70px;
    padding: 5px 10px 0;
    text-align: justify;
    width: 360px;
}
.grid .container .container-rt span.declarante{
	background: url(../../images/people_icon.png) no-repeat;
	color: #1D3961;
    font-family: sans-serif;
    font-size: 12px;
    height: 20px;
    padding: 0px 0px 0 30px;
    text-align: justify;
    width: auto;
    float: left;
    margin-right: 5px;
}
.grid .container .container-rt span.datos{
	font-family: sans-serif;
    font-size: 12px;
    height: 20px;
    text-align: left;
    width: auto;
    font-style: italic;
    float: left;
    margin-right: 5px; 
}
.grid .container .container-rt span.ubicacion{
	float: left;
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    height: 20px;
    text-align: left;
    width: auto;
}
.wrapp .clientes{
	float: left;
	height: auto;
	width:964px;
}
.wrapp .clientes h3{
	float:left;
	font-family: sans-serif;
	font-size: 15px;
	color: #1D3961;
	padding: 0;
	display: block;
	font-weight: bold;
	width: 964px;
	height: 15px;
	border-bottom: 1px dotted #666;
	padding: 5px 0;
}
.wrapp .clientes img{
	width:122px;
	height: 70px;
	float: left;
	position: relative;
	padding:10px 25px 10px 13px;
}