/* Estilos para principal_view.php */
br{
	margin:-10px 0;
}
.mg-top{
	margin-top: 30px;
}
.mg-last{
	margin-bottom: 30px !important;
}
.mg-left-30{
	margin-left:130px !important;
}
.mg-left14{
	margin-left:14px !important;
}
.mg-right14{
	margin-right: 14px !important;
}
.blue{
	color: #1D3961 !important;
}
.green{
	color: #006837 !important;
	font-weight: bold;
}
.justify{text-align: justify !important;}
.fl-left{ float:left;}
.fl-right{ float:right;}
.banner .wrapp .slide{
	float: left;
	width: 964px;
	height: 330px;
	position: relative;
	/*background: url(../../images/head-pics/banner_recursos.png);*/
	z-index: 99;
}
.banner .wrapp .slide #layer{
	float: right;
	width: 860px;
	height: 100px;
	position: relative;
	background: url(../../images/Bg_quotes.png);
	z-index: 200;
	margin: 180px 0px 0px 0;
}
.banner .wrapp .slide #layer h1{
	color: #1D3961;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    margin: 10px 0 0 30px;
    width: 550px;
}
.banner .wrapp .slide #layer img#logo-layer{
	float: right;
	display: block;
	width:245px;
	height: 100px;
}

.wrapp div#left-content{
	float: left;
	position: relative;
	width:250px;
	height: auto;
	padding-top: 10px;
	border-top: 1px dotted #aaa; 
	margin: 40px 0 0 0;
	
}
.wrapp div#right-content{
	float: right;
	position: relative;
	width:650px;
	height: auto;
}
.wrapp div#right-content h2{
	border-left: 3px solid #666666;
    color: #1D3961;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    height: 20px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    float: left;
}
.wrapp div#right-content h3{
    color: #1D3961;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    height: 20px;
    padding: 5px 5px 5px 0px;
    width: 100%;
    float: left;
    margin-top: 15px;
}
.wrapp div#right-content p{
	float: left;
	position: relative;
	width:100%;
	height: auto;
	margin: 10px 0 0 0;
	border-top: 1px dotted #aaa; 
	font-size: 14px;
	color: #666 !important;
	font-family: sans-serif;
}
.wrapp div#right-content p span#left-img{
	width: 200px;
	display: inline-block;
	text-align: left;
}
.wrapp div#right-content p span#right-img{
	width: 200px;
	display: inline-block;
	margin-left: 50px;
}
.wrapp div#right-content p span#left-text{
	width: 200px;
	display: inline-block;
	text-align: left;
}
.wrapp div#right-content p span#right-text{
	width: 200px;
	display: inline-block;
	margin-left: 120px;
}
.wrapp div#right-content p img#img-mas{
	margin: 0px 0;
}
.wrapp div#right-content p span.title{
    color: #414042;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
}
.wrapp div#right-content div#sentidos{
	width: 100%;
	height: 400px;
	float: left;
	background:url(../../images/neuro/neuro.jpg) no-repeat;
	background-position: 130px 0;
}
.wrapp div#right-content div#sentidos div.animacion{
	float: left;
}
.wrapp div#right-content div#sentidos div.animacion .bullet{
	float: left;
	width: 100px;
	height: 45px;
	display: block;
	cursor: pointer;
	z-index: 100;
}
.wrapp div#right-content div#sentidos div.animacion div#n1{background:url(../../images/bullet_1.png) no-repeat; background-position: 0px 0; margin: 40px 0 20px -40px;}
.wrapp div#right-content div#sentidos div.animacion div#n2{background:url(../../images/bullet_2.png) no-repeat; background-position: 0px 0; margin: 15px 0 20px 0px;}
.wrapp div#right-content div#sentidos div.animacion div#n3{background:url(../../images/bullet_3.png) no-repeat; background-position: 0px 0; margin: 20px 0 20px 30px;}
.wrapp div#right-content div#sentidos div.animacion div#n4{background:url(../../images/bullet_4.png) no-repeat; background-position: 0px 0; margin: 20px 0 20px 10px;}
.wrapp div#right-content div#sentidos div.animacion div#n5{background:url(../../images/bullet_5.png) no-repeat; background-position: 0px 0; margin: 45px 0 20px 50px;}
.wrapp div#right-content div#sentidos div.animacion div#n6{background:url(../../images/bullet_6.png) no-repeat; background-position: 0px 0; margin: 45px 0 20px 30px;}
.wrapp div#right-content div#sentidos div.animacion div#n7{background:url(../../images/bullet_7.png) no-repeat; background-position: 0px 0; margin: 30px 0 20px 30px;}
.wrapp div#right-content div#sentidos div.animacion div#n8{background:url(../../images/bullet_8.png) no-repeat; background-position: 0px 0; margin: 20px 0 20px 70px; }

.wrapp div#right-content div#sentidos div.animacion .bullet:hover, .wrapp div#right-content div#sentidos div.animacion .on{
	background-position: 0 -45px !important;
}
.wrapp div#right-content div#sentidos div#left-brain{
	width:150px;
	margin-left: 100px;
}
.wrapp div#right-content div#sentidos div#right-brain{
	width:150px;
	margin-left: 200px;
}
.wrapp div#right-content div#text-brain{
	float: left;
	width: 100%;
	height: auto;
	background: #00204D;
	
}
.wrapp div#right-content div#text-brain p{
	border: none !important;
	color:#fff !important;
	width:89%;
	margin:2% 5% 2% 5%;
	height: auto;
}	