.wrapp div#right-content .box-content{
	float: left;
	width: 100%;
	height: 270px;
	margin: 13px 0 0 0;
	border-top: 1px solid #BBBBBB;
	padding: 10px 0 10px 0;
} 
.wrapp div#right-content .box-content p{
	color: #333333;
    font-family: sans-serif;
    font-size: 14px;
}
.wrapp div#right-content .box-content h5{
	color: #1D3961;
    font-family: sans-serif;
    font-size: 18px;
    width:200px;
    text-align: left;
    margin: 10px 0 10px 0; 
}
.wrapp div#right-content .box-content ul {
	margin: 0px 0 10px 0; 	
}
.wrapp div#right-content .box-content ul li{
	color:#666;
	font-family: sans-serif;
    font-size: 15px;
}
.wrapp div#right-content #testimonios{
	float: left;
	width: 100%;
	height: auto;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #BBBBBB;
}
.wrapp div#right-content #info-ciceso{
	float: right;
	width: 476px;
	height: 310px;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #BBBBBB;
}
.wrapp div#right-content #info-ciceso h4,.wrapp div#right-content #testimonios h4{
	float:left;
	font-family: sans-serif;
	font-size: 15px;
	color: #1D3961;
	padding: 0;
	display: block;
	font-weight: bold;
	width: 476px;
	height: 15px;
	padding: 5px 5px 5px 10px;
	border-left: 3px solid #666;
}
/*  TESTIMONIOS */
.wrapp div#right-content .box-content .testimonios {
	overflow: hidden;
	height: 270px;
	float: left;
	width: 100%;
}
.wrapp div#right-content .box-content .testimonios .grid {
	height: auto;
	position: relative; 
	width: 100%;
}
.wrapp div#right-content .box-content #controles-testimonios{
	float: left;
	width: 100%;
	height: 30px;
	font-family: sans-serif;
	font-size: 15px;
	color: #808080;
	margin: 10px 0 0 0;
}
.box-content #controles-testimonios a{ 
	float: right;
	width: 10px;
	height: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: #808080;
	text-decoration: none;

}
.box-content #controles-testimonios table{ 
	float: right;
	width: auto;
	height: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: #808080;

}
.wrapp div#right-content .box-content .testimonios .grid .container{
	width:100%;
	height: 45px;
	float: left;
	margin: 2px 0 0 0 ;
}
.wrapp div#right-content .box-content .testimonios .grid .container:hover{
	background-color: #C2C2C2;
}
.wrapp div#right-content .box-content .testimonios .grid .container a{
	width: 100%;
	text-decoration: none;
	color: #666666;
	height: 45px;
	font-family: sans-serif;
	font-size: 14px;
}
.wrapp div#right-content .box-content .testimonios .grid .container a:hover{
	
	color: #1D3961;
}
.wrapp div#right-content .box-content .testimonios .grid .container a table{
	width:100%;
}
.wrapp div#right-content .box-content .testimonios .grid .container a table td.title{
	width:50%;
}
.wrapp div#right-content .box-content .testimonios .grid .container a table td.fecha{
	width:10%;
}

/* OPORTUNIDADES !!!! -----------------------------------------------------------*/
.wrapp div#right-content .box-content-o{
	float: left;
	width: 100%;
	height: 540px;
	margin: 13px 0 0 0;
	border-top: 1px solid #BBBBBB;
	padding: 10px 0 10px 0;
} 
.wrapp div#right-content .box-content-o p{
	color: #333333;
    font-family: sans-serif;
    font-size: 14px;
}
.wrapp div#right-content .box-content-o h5{
	color: #1D3961;
    font-family: sans-serif;
    font-size: 18px;
    width:300px;
    text-align: left;
    margin: 10px 0 10px 0; 
}
.wrapp div#right-content .box-content-o ul {
	margin: 0px 0 10px 0; 	
}
.wrapp div#right-content .box-content-o ul li{
	color:#666;
	font-family: sans-serif;
    font-size: 15px;
}
.wrapp div#right-content #oportunidades-o{
	float: left;
	width: 100%;
	height: auto;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #BBBBBB;
}
.wrapp div#right-content #info-ciceso-o{
	float: right;
	width: 476px;
	height: 540px;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #BBBBBB;
}
.wrapp div#right-content #info-ciceso-o h4,.wrapp div#right-content #oportunidades-o h4{
	float:left;
	font-family: sans-serif;
	font-size: 15px;
	color: #1D3961;
	padding: 0;
	display: block;
	font-weight: bold;
	width: 476px;
	height: 15px;
	padding: 5px 5px 5px 10px;
	border-left: 3px solid #666;
}
/*  oportunidades */
.wrapp div#right-content .box-content-o .oportunidades-o {
	overflow: hidden;
	height: 540px;
	float: left;
	width: 100%;
}
.wrapp div#right-content .box-content-o .oportunidades-o .grid-o {
	height: auto;
	position: relative; 
	width: 100%;
}
.wrapp div#right-content .box-content-o #controles-oportunidades-o{
	float: left;
	width: 100%;
	height: 30px;
	font-family: sans-serif;
	font-size: 15px;
	color: #808080;
	margin: 10px 0 0 0;
}
.box-content-o #controles-oportunidades-o a{ 
	float: right;
	width: 10px;
	height: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: #808080;
	text-decoration: none;

}
.box-content-o #controles-oportunidades-o table{ 
	float: right;
	width: auto;
	height: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: #808080;

}
.wrapp div#right-content .box-content-o .oportunidades-o .grid-o .container-o{
	width:100%;
	height: 180px;
	float: left;
	margin: 2px 0 0 0 ;
}
.wrapp div#right-content .box-content-o .oportunidades-o .grid-o .container-o:hover{
	background-color: #C2C2C2;
}