
.mg-15{ margin-left: 10px !important;}
.mg-20{ margin-left: 24px !important;}
.mg-22{ margin-left: 21px !important;}
.wrapp div#left-content ul#sidebar{
	list-style: none;
	height: auto;
	float: left;
}
.wrapp div#left-content ul#sidebar li{
	 display: block;
    height: auto;
    margin: 15px 0 15px;
    padding: 10px 0;
}
.wrapp div#left-content ul#sidebar li a.gosubmenu,.wrapp div#left-content ul#sidebar li a.submenu {
	font-size: 14px;
	color: #666 !important;
	font-family: sans-serif;
	font-weight: 100;
	text-decoration: none;
	height: 16px;
	background:url(../../images/bullet_menu_lateral.png) no-repeat;
	background-position: 0 0;
	padding-left: 10px;
	float: left;
	display: block;
	width: 100%;
}
.wrapp div#left-content ul#sidebar li a:hover, .wrapp div#left-content ul#sidebar li a.active{
	color: #333 !important;
	background-position: 0 -16px;
	font-weight: bold;
}
.wrapp div#left-content ul#sidebar li ul{
	display:none;
	list-style: none;
	margin-left: 10px;
	float: left;
	height: auto;
	margin-bottom: 10px;	
}
.wrapp div#left-content ul#sidebar li ul li{
	margin: 5px 0;
	height: auto;
	padding: 0 !important;
}
.wrapp div#left-content ul#sidebar li ul li a {
	font-size: 11px;
	color: #666 !important;
	font-family: sans-serif;
	font-weight: 100;
	text-decoration: none;
	height: 14px;
	background:url(../../images/bullet_menu_lateral.png) no-repeat;
	background-position: 0 0;
	padding-left: 10px;

}
.wrapp div#left-content ul#sidebar li ul li a:hover, .wrapp div#left-content ul#sidebar li ul li a.nav-active{
	color: #333 !important;
	background-position: 0 -16px;
	font-weight: bold;
}
.wrapp div#left-content ul li:last-child{
	margin-bottom: 40px;
}