@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

body{

}
.wrapp{
	width: 964px;
	height: auto;
	position: relative;
	margin: auto;
	overflow: hidden;
}
.wrapp-nav{
	width: 964px;
	height: auto;
	position: relative;
	margin: auto;
}
/* contenido header*/
.wrapp #logotipo{
	float: left;
	width: 245px;
	height: 100px;
	background: url('../images/oe_logo.png');
	display: block;
	cursor: pointer;
}
.wrapp h2#head-phone {
	float: right;
	position: relative;
	font-family: sans-serif;
	color: #666;
	font-size: 14px;
	font-weight: 100;
	border-bottom: dotted 1px #666; 
	padding: 0px 0 5px 0 !important; 
	margin:20px 0 0 0 ;
	width: auto !important;
	height: auto !important;
	border-left: none !important;
}
.wrapp h2#head-phone span{
	font-weight: bold !important;
	font-size: 18px;
}
.wrapp #head-social{
	float: right;
	position: relative;
	width: 450px;
	height: 20px;
	margin: 5px 0 0 0;
}
#head-social a#fb-head{
	float: right;
	width: 18px;
	height: 18px;
	background: url('../images/twitter_header_x18.png');
	display: block;
	cursor: pointer;
	background-position: 0 0;
	margin: 0px 5px 0 0;
}
#head-social a#fb-head:hover{
	background-position: 0 -18px;
}
#head-social a#tw-head{
	float: right;
	width: 18px;
	height: 18px;
	background: url('../images/fb_header_x18.png');
	display: block;
	cursor: pointer;
	background-position: 0 0;
}
#head-social a#tw-head:hover{
	background-position: 0 -18px;
}
#head-social a#mail-head{
	float: right;
	width: 18px;
	height: 18px;
	background: url('../images/mail_header_18.png');
	display: block;
	cursor: pointer;
	background-position: 0 0;
	margin: 0px 5px 0 0;
}
#head-social a#mail-head:hover{
	background-position: 0 -18px;
}

/* Contenido Nav */

.wrapp-nav ul#main-nav{
	width:110%;
	height: 60px;
	list-style: none;
}
.wrapp-nav ul#main-nav li.item{
	width: auto;
	height: 60px;
	font-family: sans-serif;
	color: #666;
	float: left;
}
.wrapp-nav ul#main-nav li.item:hover, .wrapp-nav ul#main-nav li.open, .wrapp-nav ul#main-nav li.active{
	color: #fff !important;
	background-color: #1D3961; 
}
.wrapp-nav ul#main-nav li.item a.gosubmenu,.wrapp-nav ul#main-nav li.item a.submenu{
	width: auto;
	height: 60px;
	text-decoration: none;
	color: #666;
	display:block;
	 padding: 0 11px 0 12px;
	line-height: 60px;
	font-weight: 100;
	font-size: 12px;
}
.wrapp-nav ul#main-nav li.item a.gosubmenu:hover,.wrapp-nav ul#main-nav li.item a.submenu:hover, .wrapp-nav ul#main-nav li.item a.open, .wrapp-nav ul#main-nav li.item a.active{
	color: #fff !important;
	background-color: #1D3961; 
}
.wrapp-nav ul#main-nav li.item .sub-nav{
	position: absolute;
	display: none;
	background-color: #1D3961;
	z-index: 999;
	width:auto;
	height: 140px;
	list-style: none;
}
.wrapp-nav ul#main-nav li.item .sub-nav li{
	height: 20px;
	margin-top: 5px;
}
.wrapp-nav ul#main-nav li.item .sub-nav li a{
	font-size: 12px;
	color: #fff !important;
	font-family: sans-serif;
	font-weight: 100;
	text-decoration: none;
	padding: 5px;
	margin:1px;

}
.wrapp-nav ul#main-nav li.item .sub-nav li a:hover ,.wrapp-nav ul#main-nav li.item .sub-nav li a.nav-active{
	border-left: 2px solid #fff;
}
/* contenido footer*/
.wrapp h1#dir-footer{
	font-size: 18px;
	color: #666 !important;
	font-family: sans-serif;
	font-weight: 100;
	text-decoration: none;
	padding-left: 25px;
	padding-top: 20px;
	margin:14px 0 0 0;
	width: 100%;
	height: 24px;
	background: url('../images/pin.png') no-repeat;
	background-position: -15px 20px; 
	border-top: 1px dotted #666;
}
.wrapp .box{
	width:190px;
	height: auto;
	position: relative;
	float: left;
	margin: 0 20px 10px 20px;
}
.wrapp .box h4{
	margin: 16px 0 0 0;
	font-family: sans-serif;
	font-size: 10px;
	color: #333;
	font-weight: 400;
	padding: 0;
	display:block;
}
.wrapp .box ul.nav-footer{
	margin: 5px 0 0 0;
	list-style: none;
	padding: 0;
}
.wrapp .box ul.nav-footer li{
	height: auto;
	margin: 5px 0 0 0;
}
.wrapp .box ul.nav-footer li a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 10px;
	color: #666;
	font-weight: 100;
	display: block;
}
.wrapp .box ul.nav-footer li a:hover{
	color:#1D3961;
}
.wrapp h5#copy{
	float:left;
	font-family: sans-serif;
	font-size: 10px;
	color: #666;
	padding: 0;
	margin: 10px 0 0 0;
	font-weight: 100;
}
.wrapp span#by{
	float:right;
	font-family: sans-serif;
	font-size: 10px;
	color: #666;
	padding: 0;
	margin: 10px 0 0 0;
}
.wrapp a#mooid{
	float:right;
	font-family: sans-serif;
	font-size: 10px;
	color: #333;
	padding: 0;
	margin: 10px 0 0 0;
	text-decoration: none;
	font-weight: 400;
}
/* Contenido generico ..... */
.mg-left{
	margin-left: 60px !important;
}
.grey{color:#666 !important;}
.blue{color:#1D3961 !important;}
#header{
	background: transparent;
    overflow: hidden;
    z-index: 10000;
    width:100%; 
    height:100px;
    position: relative;
    margin: 0px auto 10px auto; 
}
#nav{
    position: relative;
    height: 60px;
    width:100%;
    margin: auto;
    border-top: 1px solid #ccc;
}
#appBody{
	position: relative;
    margin: 0px auto 0 auto;
    width:100%;
    height:auto;
    z-index: 1;
    overflow: hidden;
}
#appBody .banner{
	width:100%;
	height: 329px;
	position: relative;
	top:0;
	z-index: 0;
	background-color: #1D3961;
}
#appBody #linea{
	border-top: 2px solid #101348; 
	background-color: #529C92;
	width:100%;
	height: 20px;
	position: relative;
	float:left;
}
#nav-footer{
	background-color: #F2F2F2; 
	position: relative;
    margin: 12px auto 0 auto;
   	width:100%;
    height:auto;
    border-top: 1px solid #ccc;
}
#footer{
	background-color: #E6E6E6; 
	position: relative;
    margin: 0px auto 0 auto;
    width:100%;
    height:30px;
}