* {
	margin: 0 auto;
	padding: 0;
}
body{
	background-color: #ccc;
}
label, h1, h2, h3, h4, a, p {
	font-family: Helvetica, arial
}
a {
	text-decoration: none;
	color:#376EA5;
}
a:hover {
	text-decoration: underline;
}
.bodylogin {
	text-align: center;
}
.clear{
	clear: both;
}
.azul{
	color:#1D3961 ;
}
.font12{
	font-size: 10px !important;
}
img {
	border: none;
}
.ver-mas{
	background:url('../../imgs/admin/arrows.png') no-repeat;
	background-position: 0px 0px;
	width:20px;
	height: 15px;	
	cursor: pointer;
	display: inline-block;
}
.close{
	background:url('../../imgs/admin/arrows.png') no-repeat;
	background-position: 0px -20px;
	width:20px;
	height: 15px;	
	cursor: pointer;
	display: inline-block;
}
.delete{
	background:url('../../imgs/public/eliminar.png') no-repeat;
	background-position: 2.5px 2.9px;
	width:23px;
	height: 23px;
	float: right;
	margin: 0px 0px 0px 5px;
	border:none;
}
.delete:hover{
	background-color: #E4F4FC;
}
.edit{
	background:url('../../imgs/admin/iconos/pencil_48.png') no-repeat;
	background-position: 2.5px 2.9px;
	width:23px;
	height: 23px;
	float: right;
	margin: 0px 0px 0px 5px;
	border:none;
}
.edit:hover{
	background-color: #E4F4FC;
}

#login_panel{
	width:670px;
	height: 200px;
	margin: auto;
	margin-top: 200px;
	border: 2px solid #1D3961;
	background-color: #fff;
}
#logo_login {
	width: 280px;
	
}
#label_login, #label_login_error {
	font-family: helvetica, arial;
	font-size: 20px;
	font-weight: normal;
	color: #1D3961;
	margin: 0 auto;
	margin-top: 10px;
}
#label_login_error {
	color: #f40909 !important;
}
#left_login{
	float: left;
	margin:35px 10px;
}

#form_login {
	width: 300px;
	height: 130px;
	display: block;
	margin: 0 auto;
	
	padding: 30px 0;
	float:left;
}
#form_login input {
	width: 180px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}
#form_login .input2 {
	width: 100px;
	float: right;
	margin-right: 10px;
}
#form_login .input3 {
	width: 50px;
	float: right;
	
}
#form_login label {
	font-weight: normal !important;
	padding: 0;
	margin: 0;
	position: relative;
	color: #000;
	font-family: 'helvetica';
	font-style: none;
	text-align: left;
	width: 191px;
	float: right;

}
#form_login .label2 {
	font-weight: normal !important;
	position: relative;
	color: #000;
	width: 100px;
	float: right;

}
.btnLogin {
	float: right;
	margin-right: 10px;
}/*LAYOUT*/
#logo {
	width: 150px;
	float: left;
	margin: 10px 0 0 70px;
	display: block;
}
#logo-inweb {
	width: 130px;
	float: right;
	margin: 10px 70px 0;
}
.body {
	background: #F6F6F6;
}
#wh-master {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #F6F6F6;
}
#sidebar {
	width: 230px;
	height: auto;	/*background:/*url(../imgs/admin/bg-sidebar.gif) repeat #2B2B2B;*/
	background: #2B2B2B;
	float: left;
	position: fixed;
	min-height: 100%;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #888888;
}
#cliente {
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin: 45px 0 45px 0;
}
#perfil {
	padding: 0 15px 20px 15px;
	text-align: right;
	line-height: 1.5em;
}
#perfil a {
	color: #cccccc;
	text-decoration: none;
}
#perfil a:hover, #perfil a:active {
	color: #ffffff;
}
#main_nav {
	width: 100%;
	height: auto;
	float: right;
	text-align: right;
}
#main_nav ul {
	list-style: none;
	text-align: right;
}
#main_nav li a {
	text-decoration: none;
	width: 205px;
	height: 33px;
	display: block;
	background: url(../../imgs/admin/nav-seccion.png) right no-repeat;
	margin: 10px 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	line-height: 33px;
	float: right;
	padding-right: 15px;
}
.main_nav_active {
	background: url(../../imgs/admin/nav-seccion_over.png) right no-repeat !important;
	color: #000000 !important;
}
ul.sub_nav {
	list-style: none;
	text-align: right;
	display: none;
}
ul.sub_nav_activee {
	list-style: none;
	text-align: right;
	display: block;
}
li a.sub_nav {
	text-decoration: none !important;
	width: 205px !important;
	height: 33px !important;
	display: block !important;
	margin: -10px 0 2px 0 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	font-weight: bold;
	float: right !important;
	padding-right: 15px !important;
	background: none !important;
	color: #AAAAAA !important;
}
.sub_nav_active {
	text-decoration: none !important;
	width: 205px !important;
	height: 33px !important;
	display: block !important;
	margin: -10px 0 2px 0 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	font-weight: bold;
	float: right !important;
	padding-right: 15px !important;
	background: url(../../imgs/admin/sub-nav_active.png) right no-repeat !important;
	color: #ffffff !important;
}
#copyright {
	position: absolute;
	bottom: 5px;
	left: 20px;
	font-family: arial;
	font-size: 11px;
}
#content {
	height: auto;	/*position: absolute;
	 left: 230px;
	 top: 0;*/
	margin: 0 30px 0 230px;
	padding: 40px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left !important;
}
.titulo_pag {
	font-size: 24px;
	color: #000000;
	float: left;
	margin: 0 0 10px 32px;
}

.lista1{
	list-style:none;
 	margin: 0 0 10px 32px;
 	clear:both;
}

.subtitulo_pag {
	font-size: 17px;
	color: #555555;
	float: left;
	margin: 0 0 30px 32px;
	clear: both;
}
.clear {
	clear: both;
}
.content-box {
		background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; 	margin: 0 0 20px; margin-left: 32px;
}
.content-box .resume{
	position: relative;
	float: left;
	width:300px;
	height: 300px;
	 border: 1px solid #CCCCCC;
	margin:10px 30px;
}
.content-box-header {
	background: #E5E5E5 top left repeat-x;
	margin-top: 1px;
	height: 40px;
}
.content-box-header h4 {
	padding: 12px 15px 10px;
	float: left;
	color: #222222;
	font-size: 17px;
}
.editar-aspirantes-feliz table{
	background-color: #E5E5E5;
	border:1px solid #CCC;
}
.editar-aspirantes-feliz table.controles{
	border-top:none;
	background-color: #CCC;
}
.editar-aspirantes-feliz table tbody{
	padding: 10px;
	min-height: 50px;
}
.editar-aspirantes-feliz .margin-top-10{
	margin-top:10px;
}
.content-box table {
	width: 100%;
	border-spacing: 0;
	font-family: sans-serif;
	font-size: 14px;
}
.content-box table.fancy-table tbody tr{
	height: 35px;
}
.content-box table.fancy-table tbody tr:hover{
	background-color: #ccc;
}
.content-box .table td{
	width: 200px;
	border-spacing: 0;
}
.content-box table thead, .content-box table th {
	font-weight: bold;
	font-size: 17px;
	padding:10px 5px;
	text-align: left;
}
.content-box table td span.blue{
	color:#0A8FCF;
	font-size: 15px;
}
.content-box table td span.subtit{
	font-weight: bold;
	font-size: 15px;
	color:#202020;
}
.content-box table tr.alt-row {
	background: #F3F3F3;
}
.content-box table td {
	padding: 4px;
	line-height: 1.3em;
}
.content-box table td button.control{
	width:100px;
	height: 40px;
	cursor: pointer;
}
.content-box table td a.recargar{
	width:24px;
	height: 24px;
	display: block;
	cursor: pointer;
}
.content-box table td a.btn_delete{
	background:url('../../imgs/public/eliminar.png');
	width:16px;
	height: 16px;
	display: block;
	cursor: pointer;

}

.content-box form {
	padding: 10px;
}
.content-box .form {
	float:left;
	margin-right: 5px;
	padding: 0 !important;
}
.content-box .borrar {
	
	float:left;
	margin-right: 5px;
}
.content-box  button{
	cursor:pointer;
}
.action-icon {
	width: 16px;
}/* FORMULARIOS * */
form#search{
	padding:0; width:100%; height:auto;
}
form#search label{padding:0; display: inline; font-weight: 400;}
form#search label span{color:#0A8FCF;}
form#search select{width:200px;}
form .fila{
 width:100%;
 float:left;
 margin-bottom: 10px;
} 
form .fila p ,form .fila table{
	float:left;
	margin-bottom: 10px;
	width:50%;
}
form .fila ul{
	list-style: none;
	margin-bottom: 10px;
}
form .fila ul li{
	float: left;
}
form .fila ul li label, form .fila ul li input{
	float: left;
}
form .fila ul li input{
	margin-left: 10px;
	margin-right: 10px;
}
form  p {
	margin-bottom: 10px;
}
form label {
	display: block;
	padding: 0 0 10px;
	font-weight: bold;
	clear: both;
}
form fieldset legend {
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 10px;
}
form p small {
	font-size: 0.9em;
	color: #777;
}
form input.text-input, form select, form textarea, form .wysiwyg {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 6px;
	font-size: 13px;
	background: #fff url('../images/bg-form-field.gif') top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
}
form .small-input {
	width: 25% !important;
}
form .input-well {
	width: 372px !important;
	padding:6px;
}
form .medium-input {
	width: 50% !important;
}
form .large-input {
	width: 70% !important;
	font-size: 16px !important;
	padding: 8px !important;
}
form textarea {
	width: 97.5% !important;
	font-family: Arial, Helvetica, sans-serif;
}
form select {
	padding: 4px;
	background: #fff;
}
form input[type="checkbox"], form input[type="radio"] {
	padding: 0;
	background: none;
	border: 0;
}
.button {
	background: url(../../imgs/admin/btn_bg.png) repeat-x scroll left top #356A9F !important;
	border: 1px solid #356A9F !important;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px !important;
	padding: 4px 7px !important;
}/*Dashboard*/
#shortcuts {
	width: 100%;
	height: auto;
	margin: 10px 0 50px 32px;
}
a.shortcut-btn {
	background: url("../../imgs/admin/shortcut-button-bg.gif") no-repeat scroll left top #F7F7F7;
	border: 1px solid #CCCCCC;
	display: block;
	margin: 0 0 20px;
	width: 120px;
	float: left;
	margin-right: 20px;
}
a.shortcut-btn:hover {
	color: #3B75AF !important;
	background: #ffffff !important;
}
span.shortcut-btn {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #FFFFFF;
	color: #555555;
	display: block;
	font-size: 13px;
	line-height: 1.3em;
	padding: 15px 10px;
	text-align: center;
}


/*nueva cita*/
div#newClientContainer{
	position: relative;
}

div#newDateContainer{
	position: relative;
}

div#newDateForm{
    margin: auto;
    color: #333;
    width: 600px;
    font-family: Helvetica, Arial;        
}

div#newDateForm form{
    margin: auto;
    font-family: Helvetica, Arial;
}

div#newDateForm form span select{
    width: 250px !important;
    display: block !important;
}

#ui-datepicker-div
{
    z-index: 1102 !important;
}
#text_area {
	width:430px !important;
}
#text_area div{
	width:430px !important;
	margin-left: 0;
}