/********************************************
    IMPORT FONTS & FONT CLASES
********************************************/ 
@import url('../fonts.css');
@import url('registro.css');
@import url('../well_message.css');

.font-calibri{
	font-family: 'Calibri';
}
.font-calibri-italic{
	font-family: 'Calibri-Italic';
}
.font-calibri-bold{
	font-family: 'Calibri-Bold';
}
.font-calibri-bold-italic{
	font-family: 'Calibri-BoldItalic';
}

/********************************************
    HTML ELEMENTS & COMMON CLASSES
********************************************/ 
* {
	margin: 0; 
	padding: 0;
}

html{
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {	
	font-family: 'Calibri';
	color: #231F20;	
	font-weight: normal;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, strong{
	font-weight: normal;
	color: #231F20;	
}

h3.big-frase{
	font-family: 'Calibri-Bold';
	margin: 0px 0 0 10px;
	font-size: 18px;
}

a, a:visited{
	text-decoration: none;
	color: #231F20;	
}

img, a img{
	border: none;
}

.width-complete{
	width: 100% !important;
}

.width-middle{
	width: 50%;
}

.height-auto{
	height: auto !important;
}

strong{
	font-family: 'Calibri-Bold';
}

.light{
	font-family: 'Calibri' !important;
}

.blue{
	color : #0A8FCF !important;
}

button, input, select, textarea{
	font-family: 'Calibri';
}

input[type="text"], input[type="password"], textarea{
	font-family: 'Calibri';
	border: solid 1px #999;
	color: #808080;
	background: #F2F2F2;
}

a.mooid-lab{
	color: #B2D235;
}

.first{
	margin-top: 3px !important;
}

.no-margin-top{
	margin-top: 0px !important;
}

.no-margin-bottom{
	margin-bottom: 0px !important;
}

.no-margin-left{
	margin-left: 0px !important;
}

.no-margin-right{
	margin-right: 0px !important;
}

.no-nothing{
	margin: 0 !important;
}

.mrgn-auto{
	margin: auto;
}

.ov-hidden{
	overflow: hidden;
}

.cl-both{
	clear: both;
}

.ten{
	margin-bottom: 10px !important;
}

.fl-left{
	float: left;
}

.fl-right{
	float: right;
}

.pos-ab{
	position: absolute;
}

.pos-re{
	position: relative;
}

.pos-fx{
	position: fixed;
}

.dp-block{
	display: block;
}

.dp-none{
	display: none;
}

.text-a-center{
	text-align: center;
}

.text-a-right{
	text-align: right;
}

.text-a-left{
	text-align: left;
}
.line-blue{
	background: none repeat scroll 0 0 transparent;
    border-bottom: 10px solid #168FCC;
    height: 0;
    width: 745px;
}
/********************************************
    GENERAL STRUCTURES
********************************************/
#wh-master{
	width: 100%;
	overflow: hidden;
	height: auto;
}
#strip{
	height: 300px;
	background: url('../imgs/public/layout/Bg_texture.png') left top;
	top: 75px;/*5PX MAS POR EL BORDE AZUL*/
	z-index: 1;
}

#strip.strip-search{
	height: 100px !important;
}

.blue-strip{
	height: 5px;
	background: #0A8FCF;
}

#main-wrapp{
	width: 984px;
	position: relative;
	z-index: 2;	
	height: auto;	
}

#header{
	width: 100%;
	height: 70px;
}

#header #logo{
	width: 254px;
	height: 65px;
	background: url('../imgs/public/layout/Logo_header.png') left top no-repeat;
}

#header #choose-lang{
	width: 102px;
	height: 20px;
	font-size: 13px;
	color: #BCBEC0;
	text-align: center;
	margin: 0 86px 0 0;
}

.tab-register{
	width: auto;
	padding: 0 10px 3px 10px;
	background: #0A8FCF;
	color: #FFFFFF;	
	height: 22px;
	line-height: 22px;
}

.tab-login{
	width: auto;
	padding: 0 10px 3px 10px;
	background: #FFFFFF;
	color: #231F20;	
	height: 22px;
	line-height: 22px;
}

.tab-register:hover, .tab-login:hover{
	background: #0A8FCF !important;
	color: #FFFFFF !important;
}

/********************************************
    MAIN MENU
********************************************/
#header #menu{
	list-style-type: none;
	margin: 35px 0 0 375px;
    position: absolute;
}

#menu li{
	float: left;

}

li.pipe{
	width: auto;
	padding: 0 10px 0  10px;
}

#menu li a.home{
	width: 30px !important;
	background: url('../imgs/public/layout/menu_home_icon_80x.png') left top no-repeat !important;
	margin-top: 3px;
}

#menu li a.home:hover{
	background-position: left bottom !important;
}

#menu li a{
	display: block;
	width: auto;
	height: 16px;	
	color: #231F20;
	text-align: center;
	font-size: 17px;
}

#menu li a:hover, ul.foot-menu li a:hover{
	color: #0A8FCF;
}

#menu li a.active, ul.foot-menu li a.active{
	color: #0A8FCF !important;
}

#menu li a.home.active{
	background-position: left bottom !important;
}

/********************************************
    BANNER'S
********************************************/
img#big-banner{
	width: 764px;
	height: 300px;
}

.mini_banner{
	width: 220px;
	height: 150px;	
}

#mini_banner1{
	background: url('../imgs/public/layout/Banner_150x.png') left top no-repeat;
}

#mini_banner2{
	background: url('../imgs/public/layout/bg_search_banner_aside.png') left top no-repeat;
}

#mini_banner2 form#aisde-search-form{
	width: 194px;
	margin: 13px 13px 0 13px;
}

#mini_banner2 form#aisde-search-form h1{
	/*color: #EBE7EB;*/
	font-family: 'Calibri-Bold';
	font-size: 17px;
}

#mini_banner2 form#aisde-search-form h2{
	color: #EBE7EB;
	font-family: 'Calibri';
	font-size: 15px;
	margin: 0 0 5px 0;
}

#mini_banner1:hover{
	background-position: left bottom;
}

.shadow{
	height: 10px;
	background: url('../imgs/public/layout/shadow.png') center top no-repeat;
	position: relative;
	z-index: 1001;
}

/********************************************
    SOCIAL & SEARCH
********************************************/
#social-search{
	list-style-type: none;
	height: 20px;
}

#social-search li{
	float: left;
}

li a.social{
	display: block;
	width: 20px;
	height: 20px;
	background: url('../imgs/social_icons_20x.png');
	margin-left: 2px;
}
li a#yt{
	
	background-position: -20px 0;
}
li a#tw{
	
	background-position: 0 0;
}
li a#gw{
	background-position: -40px 0;
}

li a#gp{
	background-position: -60px 0;
}

li a#in{
	background-position: -80px 0;
}

li a#ml{
	background-position: -100px 0;
}

#social-search li form{
	margin: 0 0 0 6px;
	font-size: 15px;
}

#social-search li form ul{
	list-style-type: none;
	height: 20px;
}

#social-search li form ul li{
	float: left;
}

#social-search li form ul li input[type="text"]{
	width: 140px;/*146px*//*144*/
	padding: 0 2px 0 2px;
	height: 18px;/*20px*/	
	margin: 0 6px 0 6px;
}

#social-search li form ul li button[type="submit"]{
	width: 20px;
	height: 20px;
	background: url('../imgs/public/layout/search_icon_btn_20x.png') left bottom no-repeat;
	border: solid 0px transparent;
	border: none;
}

#social-search li form ul li button[type="submit"]:hover{
	background-position: left top;
}

/********************************************
    TITULOS
********************************************/

.title-box h1{	
	margin: 0 10px 0 0;
	height: 14px;
	overflow: hidden;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 11px;
}

.title-box span{	
	overflow: hidden;
	height: 14px;
	background: url('../imgs/public/layout/horiz_line.png') left top;
}

/********************************************
    TITULOS - VACANTES DESTACADAS
********************************************/
#t-buscador.title-box h1{
	width: 85px;
}

#t-buscador.title-box span{
	width: 125px;
}

#t-vacantes-desc.title-box h1{
	width: 176px;
}

#t-vacantes-desc.title-box span{
	width: 569px;
}

#t-detalle-vacante.title-box h1{
	width: 187px;
}

#t-detalle-vacante.title-box span{
	width: 558px;
}

#t-relacionadas.title-box h1{
	width: 194px;
}

#t-relacionadas.title-box span{
	width: 551px;
}

#t-resultados-busqueda.title-box h1{
	width: 203px;
}

#t-resultados-busqueda.title-box span{
	width: 542px;
}

#t-wellhuman.title-box h1{
	width: 110px;
}

#t-wellhuman.title-box span{
	width: 635px;
}

#t-faqs{
	margin-bottom: 30px !important;
}

#t-faqs.title-box h1{
	width: 190px;
}

#t-faqs.title-box span{
	width: 555px;
}

#t-contacto.title-box h1{
	width: 85px;
}

#t-contacto.title-box span{
	width: 660px;
}

/********************************************
    COLUMNAS
********************************************/
.aside-left{
	width: 220px;	
}

.aside-right{
	width: 756px;
	margin: 0 0 0 8px;
}

.for-column-home-info{
	width: 378px;
	height: 230px;
}

.for-column-home-info h2{
	/*width: 366px;*/
	width: 358px;
	overflow: hidden;
	/*margin: 10px 6px 10px 6px;*/
	margin: 10px;
	color: #0A8FCF;
	font-size: 17px;
	font-family: 'Calibri-Bold';
}

.for-column-home-info p{
	/*width: 366px;*/
	width: 358px;
	margin: 0 10px 0 10px;
	font-size: 14.5px;
	text-align: justify;
}

/********************************************
    VACANTES DESTACADAS
********************************************/
#grid-vacantes-des{
	margin: 3px 0 10px 0;
}

.row{
	height: 112px;
	text-decoration: none;
	cursor: pointer !important;
}

.row:hover{
	background: #E0E0E0;
}

.row .empresa-img{
	width: 182px;
	height: 100px;
	margin: 6px 12px 6px 6px;
	background-color: #FFFFFF !important;
}

.row .desc-vacante{
	width: 446px;
	height: inherit;
}

.row .desc-vacante h3{
	color: #0A8FCF;
	font-family: 'Calibri-Bold';
	width: auto;
	overflow: hidden;
	font-size: 14px;
	margin: 6px 0 0 0;
	text-transform: uppercase;
}

.row .desc-vacante h4{
	font-family: 'Calibri-Bold';
	width: auto;
	overflow: hidden;
	font-size: 14px;
	display: inline;
}

.row .desc-vacante h4:hover{
	text-decoration: underline;
}

.row .desc-vacante h5{
	font-family: 'Calibri';
	width: auto;
	overflow: hidden;
	font-size: 15px;
	display: inline;
}

.row .desc-vacante p{
	font-size: 14px;
	line-height: 14px;
	height: 48px;
	margin: 10px 0 6px 0;
}

.row .options{
	width: 110px;
	height: inherit;
}

.row .options button{
	float: right;
	margin-right: 10px;
	border: none;
	display: block;
	width: 96px;
	height: 20px;
	background: url('../imgs/public/layout/action_btn_94x120.png');
}

.row .options .aplicar-vct{
	margin-top: 5px;
	background-position: 0 0;
	cursor: pointer !important;
}

.row .options .aplicar-vct:hover{
	background-position: 0 -20px;
}

.row .options .detalles-vct{
	margin-top: 3px;
	background-position: 0 -40px;
	cursor: pointer !important;
}

.row .options .detalles-vct:hover{
	background-position: 0 -60px;
}

.row .options .guardar-vct{
	margin-top: 3px;
	background-position: 0 -80px;
	cursor: pointer !important;
}

.row .options .guardar-vct:hover{
	background-position: 0 -100px;
}

/********************************************
    GRID VACANTES NORMALES
********************************************/
.row-normal{
	height: 112px;
	text-decoration: none;
	cursor: pointer !important;
	background: #E0E0E0;
	margin: 0 0 10px 0;
}

.row-normal .desc-vacante{
	width: 640px;
	height: inherit;
	margin: 0 0 0 6px;
}

.row-normal .desc-vacante h3{
	color: #0A8FCF;
	font-family: 'Calibri-Bold';
	width: auto;
	overflow: hidden;
	font-size: 14px;
	margin: 6px 0 0 0;
	text-transform: uppercase;
}

.row-normal .desc-vacante h4{
	font-family: 'Calibri-Bold';
	width: auto;
	overflow: hidden;
	font-size: 14px;
	display: inline;
}

.row-normal .desc-vacante h5{
	font-family: 'Calibri';
	width: auto;
	overflow: hidden;
	font-size: 15px;
	display: inline;
}

.row-normal .desc-vacante p{
	font-size: 14px;
	line-height: 14px;
	height: 48px;
	margin: 10px 0 6px 0;
}

.row-normal .options{
	width: 110px;
	height: inherit;
}

.row-normal .options button{
	float: right;
	margin-right: 10px;
	border: none;
	display: block;
	width: 96px;
	height: 20px;
	background: url('../imgs/public/layout/gray_action_btn_94x120.png');
}

.row-normal .options .aplicar-vct{
	margin-top: 5px;
	background-position: 0 0;
	cursor: pointer !important;
}

.row-normal .options .aplicar-vct:hover{
	background-position: 0 -20px;
}

.row-normal .options .detalles-vct{
	margin-top: 3px;
	background-position: 0 -40px;
	cursor: pointer !important;
}

.row-normal .options .detalles-vct:hover{
	background-position: 0 -60px;
}

.row-normal .options .guardar-vct{
	margin-top: 3px;
	background-position: 0 -80px;
	cursor: pointer !important;
}

.row-normal .options .guardar-vct:hover{
	background-position: 0 -100px;
}

/********************************************
    CUSTOM SEARCH FORM
********************************************/
#custom-search-form{
	margin-top: -10px;
	margin-bottom: 14px;
	height: 368px;
	background: url('../imgs/public/layout/Search02_Bg.png') left top repeat-y;
}

form#custom-search{
	width: 194px;
	margin: 13px 13px 0 13px;
}

form#custom-search h2{
	padding: 10px 0 10px 0;
	border-bottom: solid 1px #231F20;
	margin: 0 0 10px 0;
	font-family: 'Calibri-Bold';
	font-size: 17px;
}

form#custom-search label, form#go-contact label, form#aisde-search-form label{
	display: block;
	width: auto;
	font-size: 15px;
	height: 15px;
	overflow: hidden;
	line-height: 13px;
}

form#custom-search input, form#go-contact input, form#aisde-search-form input{
	height: 18px;
	width: 188px;
	display: block;
	margin: 0 0 10px 0;
	padding: 0 2px 0 2px;
}

form#custom-search select, form#aisde-search-form select{
	display: block;
	width: 192px;
	margin: 0 0 7px 0;
	padding: 0px;
	border: solid 1px #999;
	color: #808080;
	background: #F2F2F2;
	height: 22px;
}

form#custom-search button[type="submit"], form#go-contact button[type="submit"], form#aisde-search-form button[type="submit"]{
	padding: 3px 5px 3px 5px;
	background: #231F20;
	color: #EEEEEE;
	border: solid 0px;
	border: none;
	font-size: 12px;
	margin: 0 0 5px 0;
}

form#custom-search ul{
	list-style-type: none;	
}

form#custom-search ul li{
	float: left;
}

form#custom-search ul li.pipe{
	font-size: 12px !important;
}

form#custom-search ul li a{
	display: block;
	width: auto;	
	color: #58595B;
	font-size: 12px;
}

form#custom-search ul li a:hover, form#custom-search ul li a:focus{
	color: #0A8FCF !important;
}

#all-vacantes {
	font-size: 11px;
	color: #FFF;
	margin: 0 0px 0 0;
	background: none repeat scroll 0 0 #0A8FCF;
	padding: 0 10px 0px;
	width: 45px;
	float: right;
	height: 15px;
}

#all-vacantes:hover{
	text-decoration: underline;
}


/********************************************
    IMAGEN DE CONTACTO
********************************************/
a#contacto-home{
	width: 220;
	height: 112px;
	background: url('../imgs/public/layout/Map_btn_112x.png') left top no-repeat;
}

a#contacto-home:hover{
	background-position: left bottom;
}

/********************************************
    FOOTER
********************************************/
#footer{
	height: auto;
	font-size: 14px;
	margin: 30px 0 24px 0;
}

#footer #strip-foot{	
	background: url('../imgs/public/layout/Bg_texture.png') left top;
	height: 20px;
	margin: 0 0 6px 0;	
}

ul.foot-menu{
	list-style-type: none;
	height: 16px;
	margin: 0 0 0 6px;
}

ul.foot-menu li{
	float: left;
}

ul.foot-menu li a{
	color: #231F20;
	width: auto;
	height: 16px;
	display: block;
	text-align: center;	
}

ul#extras{
	/*margin-top: 3px;*/
}

#footer span{
	overflow: hidden;
	height: 16px;
	margin: 0 10px 0 0;
}

#footer span.second{
	margin-top: 3px;
}

#social-foot{
	margin: 3px 10px 0 0;
	list-style-type: none;
	width: auto;			
}

#social-foot li{
	float: left;
}

#sidebar-left-register, #sidebar-left-register:hover, #sidebar-left-register:visited{
	width: 220px;
	height: 112px;
	background: url('../imgs/public/layout/home_banner220_01.png') left top no-repeat;
	margin-bottom: 10px;
}

#sidebar-left-contact, #sidebar-left-contact:hover, #sidebar-left-contact:visited{
	width: 220px;
	height: 112px;
	background: url('../imgs/public/layout/home_banner220_02.png') left top no-repeat;
	margin-bottom: 10px;
}

#sidebar-left-contact-mail, #sidebar-left-contact-mail:hover, #sidebar-left-contact-mail:visited{
	width: 220px;
	height: 112px;
	background: url('../imgs/public/layout/home_banner220_03.png') left top no-repeat;
}

/********************************************
    DETALLE DE VACANTE
********************************************/
#detalle-vacante{
	margin: 30px 0 0 0;
}

#detalle-vacante .main-info{
	height: 112px;
	text-decoration: none;
}

#detalle-vacante .main-info .empresa-img{
	width: 182px;
	height: 100px;
	margin: 6px 12px 6px 6px;
	background-color: #FFFFFF !important;
}

#detalle-vacante .main-info .desc-vacante{
	width: 446px;
	height: inherit;
}

#detalle-vacante .main-info .desc-vacante h3{
	color: #231F20;
	font-family: 'Calibri-Bold';
	width: auto;
	overflow: hidden;
	font-size: 17px;
	margin: 6px 0 0 0;
	text-transform: uppercase;
}

#detalle-vacante .main-info .desc-vacante h4{
	font-family: 'Calibri-Bold';
	width: auto;
	overflow: hidden;
	font-size: 17px;
	color: #0A8FCF;
}

#detalle-vacante .main-info .desc-vacante p{
	font-size: 14px;
	line-height: 14px;
	height: 48px;
	margin: 10px 0 6px 0;
}

#detalle-vacante .main-info .desc-vacante p strong{
	color : #0A8FCF !important;
}

#detalle-vacante .main-info .options{
	width: 110px;
	height: inherit;
}

#detalle-vacante .main-info .options button{
	float: right;
	margin-right: 10px;
	border: none;
	display: block;
	width: 96px;
	height: 20px;
	background: url('../imgs/public/layout/action_btn_94x120.png');
}

#detalle-vacante .main-info .options .aplicar-vct{
	margin-top: 5px;
	background-position: 0 0;
	cursor: pointer !important;
}

#detalle-vacante .main-info .options .aplicar-vct:hover{
	background-position: 0 -20px;
}

#detalle-vacante .main-info .options .guardar-vct{
	margin-top: 3px;
	background-position: 0 -80px;
	cursor: pointer !important;
}

#detalle-vacante .main-info .options .guardar-vct:hover{
	background-position: 0 -100px;
}

#detalle-vacante .main-info .options .send-vct{
	margin-top: 3px;
	background-position: 0 -120px;
	cursor: pointer !important;
}

#detalle-vacante .main-info .options .send-vct:hover{
	background-position: 0 -140px;
}

#aside-left-vacante{
	width: 182px;
	margin: 8px 6px 0 6px;
	line-height: 12px;
}

#aside-left-vacante span{
	display: block;
	color: #0A8FCF;
	margin: 0 0 3px 0;
	width: auto;
	height: 21px;
	overflow: hidden;
	line-height: 20px !important;
}

#aside-left-vacante span.marginated{
	margin: 6px 0 3px 0 !important;
}

#vacante-description-container{
	width: 562px;
}

#vacante-description-container .data-cont{
	padding: 0 0 0 6px;
}

#vacante-description-container .data-cont.with-bg{
	background: url('../imgs/public/layout/Bg_texture.png');
}

#vacante-description-container h2{
	font-family: 'Calibri-Bold';
	width: auto;
	overflow: hidden;
	font-size: 17px;
	color: #0A8FCF;
	margin: 5px 0 3px 0;
	height: 21px;
}

#vacante-description-container div.like-p{
	line-height: 20px;
	width: 550px;
	height: auto;
	text-align: justify;
	padding: 0 0 5px 0;
}

#vacante-description-container div.like-p strong{
	color : #0A8FCF !important;
}

/********************************************
    COMPATIR VACANTE
********************************************/
#share-opts ul{
	list-style-type: none;
	margin: 10px 10px 10px 0;
}

#share-opts ul li{
	float: left;
	width: 100px;
}

#share-opts ul li a#email-vacante{
	display: block;
	margin: auto;
	width: 96px !important;
	height: 20px;
	background-image: url('../imgs/public/layout/action_btn_94x120.png');
	background-position: 0 -120px;
}

#share-opts ul li#for-email-vacante{
	margin-right: 10px !important;
}

#share-opts ul li a#email-vacante:hover{
	background-position: 0 -140px;
}

/********************************************
    VACANTES RELACIONADAS
********************************************/
#grid-related-vacantes{
	margin: 10px 0 0 0;
}

/********************************************
    HEADER BUSQUEDA
********************************************/
#search-header{	
	height: 100px;
	background: url('../imgs/public/layout/Header_Panel.png') left top no-repeat;
}

#login-register{
	list-style-type: none;
	margin: 16px 26px 12px 0;

}

#login-register li{
	float: left;
	width: auto;

}

#login-register li a, #login-register li a:visited {
	display: block;
	height: 30px;
	text-align: center;
	background: #0A8FCF;
	color: #FFFFFF;
	line-height: 30px;
}

#login-register li #goto-login{
	width: 90px;
	margin: 0 12px 0 0;
}

#login-register li #goto-register{
	width: 100px;
}

#search-in-search{
	list-style-type: none;
	margin: 0 26px 0 0;
}

#search-in-search li{
	float: left;
	width: auto;
}

#search-in-search li label{
	color: #FFFFFF;
	font-size: 20px;
	display: block;
	padding: 0 5px 0 0;
	line-height: 30px;
}

#search-in-search li input[type="text"]{
	width: 218px !important;/*224px*/
	height: 28px !important;/*30px*/
	font-size: 18px !important;
	padding: 0 2px 0 2px  !important;
	display: block;	
}

#search-in-search li button[type="submit"]{
	border: none !important;
	display: block;
	width: 90px;
	height: 30px;
	background: url('../imgs/public/layout/Search_btn.png') left bottom no-repeat;
}

#search-in-search li button[type="submit"]:hover{
	background-position: left top;
}

/********************************************
    PAGINACION
********************************************/
ul#pages{
	margin: 12px 0 0 0;
	list-style: none;		
	line-height: 24px;
}

ul#pages li{
	float: left;
	display: block;	
	width: 24px;
	height: 24px;
	text-align: center;	
	margin:0 0 0 6px;
	background: #0A8FCF;
	color: #FFFFFF;	
}

ul#pages li a{
	display: block;
	color: #808080;
	width: 24px;
	height: 24px;
	text-align: center;
	background: #E0E0E0;
}

ul#pages li a:hover, ul#pages li a.on{
	color: #FFFFFF !important;
	background: #0A8FCF !important;
}

/********************************************
    FAQ`S
********************************************/
.faq-box{
	margin: 8px 0 0 5px;
	padding: 0 0 20px 0;
	border-bottom: solid 1px #CCC;
}

.no-line{
	border-bottom: none !important;
}

.faq-box > h3{
	margin-bottom: 5px !important;
}

/********************************************
    CONTACTO
********************************************/
#contacto-form{
	margin-left: 10px !important;
}

#contacto-form textarea#comentarios{
	width: 320px !important;
	height: 160px !important;
}

#personal-data{
	width: 230px !important;
}

#submit-contact-section{
	float: none !important;
	margin: 10px 0 0 277px !important;
}